@model IEnumerable<Msh.Admin.Models.ViewModels.AdminMenuItem>

<div class="row">
	<div class="col-12">
		<div style="display:flex;justify-content:flex-start;width:100%;">
			@foreach (var item in @Model)
			{
				<div style="padding:0 4px 0 4px;border-right:1px solid black;">
					@{
						var isActive = @item.Active == "active";
					}
					@if (isActive)
					{
						@item.Text
					}
					else
					{
						<a style="color: #337ab7;" class="nav-link " asp-area="Admin" asp-controller="@item.Controller" asp-action="@item.Action">@item.Text</a>
					}
				</div>
			}
		</div>
	</div>
</div>