@using Msh.Admin.Models.Const
@model IEnumerable<Msh.Admin.Models.ViewModels.UserVm>
@{
	var title = "User List";
	ViewData["Title"] = title;
}

@await Component.InvokeAsync("AdminMenu", new
{
	menuName = AdminConst.MenuUsers, currentItem = "UserList"
})


<div class="text-center">
	<h1 class="display-4">@title</h1>
	<p>A list of users that have admin permissions.</p>
</div>

<div class="row">
	<div class="col-12">
		<table>
			<tr>
				<th>Email</th>
				<th>Confirmed</th>
				<th>
					<div class="cell-outer">
						<div class="cell-inner">
							<a href="javascript:window.mshMethods.addUser()">
								<i class="fa-solid fa-plus"></i>
							</a>
						</div>
						<div class="cell-inner">
							<info-icon name="info-list-icons" />
						</div>
					</div>
				</th>
			</tr>

			@foreach (var user in @Model)
			{
				<tr>
					<td>@user.Email</td>
					<td>@user.IsConfirmed</td>
					<td style="width:80px;">

						<div class="cell-outer">
							<div class="cell-inner">
								<a href="javascript:window.mshMethods.editUser('@user.Email')">
									<i class="fa-solid fa-pen-to-square"></i>
								</a>
							</div>
							<div class="cell-inner">
								<a href="javascript:window.mshMethods.deleteUser('@user.Email')">
									<i class="fa-solid fa-times"></i>
								</a>
							</div>
						</div>
					</td>
				</tr>
			}

		</table>

	</div>
</div>


@{
	await Html.RenderPartialAsync("Admin/_AdminErrorBlock", "");
}

<div id="page-info" style="display:none;">

	<div data-info-for="info-users">
		<span>Users List</span>
		<div>
			@await Html.PartialAsync("Hotels/_ListIconsInfo")
			
		</div>
		
	</div>

</div>

@section Scripts {
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/admin/hotels/msh-admin-hotels.js"></script>
}



