@using Msh.Admin.Models.Const
@using Msh.HotelCache.Models.Hotels
@using Msh.WebApp.TagHelpers
@model List<Hotel>;
@{
	var title = "Hotel List";
	ViewData["Title"] = title;
}

@await Component.InvokeAsync("AdminMenu", new { menuName = AdminConst.MenuHotels, currentItem = "HotelList" })


<div class="text-center">
	<h1 class="display-4">@title</h1>
</div>

<div class="row">
	<div class="col-12">
		<table>
			<tr>
				<th>Hotel Code</th>
				<th>Chain Code</th>
				<th>Name</th>
				<th>   
					<div class="cell-outer">
						<div class="cell-inner">
							<a href="javascript:window.mshMethods.addHotel()">
								<i class="fa-solid fa-plus"></i>
							</a>
						</div>
						<div class="cell-inner">
							<info-icon name="info-list-icons" />
						</div>
					</div>
				</th>
			</tr>
			
			@foreach (var hotel in @Model)
			{
				<tr>
					<td>@hotel.HotelCode</td>
					<td>@hotel.ChainCode</td>
					<td>@hotel.Name</td>
					<td style="width:80px;">
						
						<div class="cell-outer">
							<div class="cell-inner">
								<a href="javascript:window.mshMethods.editHotel('@hotel.HotelCode')" >
									<i class="fa-solid fa-pen-to-square"></i>
								</a>
							</div>
							<div class="cell-inner">
								<a href="javascript:window.mshMethods.deleteHotel('@hotel.HotelCode')" >
									<i class="fa-solid fa-times"></i>
								</a>
							</div>
						</div>
					</td>
				</tr>
			}
			
		</table>

	</div>
</div>


@{
	await Html.RenderPartialAsync("Admin/_AdminErrorBlock", "");
}

<div id="page-info" style="display:none;">
	@{
		await Html.RenderPartialAsync("Admin/_ListIconsInfo", "Hotel List");
	}
</div>

@section Scripts{
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/admin/hotels/msh-admin-hotels.js"></script>
}



