@using Msh.Admin.Models.Const
@using Msh.HotelCache.Models.Hotels
@using Msh.WebApp.TagHelpers
@model IEnumerable<Hotel>;
@{
	var title = "Hotel List";
	ViewData["Title"] = title;
	ViewBag.InfoIcons = "Hotels";
}

@await Component.InvokeAsync("AdminMenu", new { menuName = AdminConst.MenuHotels, currentItem = "HotelList" })


<div class="text-center">
	<h1 class="display-6">@title</h1>
</div>

<div class="row">
	<div class="col-12">
		<table>
			<tr>
				<th>Hotel Code</th>
				<th>Chain Code</th>
				<th>Name</th>
				<th>Stay Dates</th>
				<th>Book Dates</th>
				<th>   
					<div class="cell-outer">
						<div class="cell-inner">
							<a asp-controller="Hotels" asp-action="HotelAdd" >
								<i class="fa-solid fa-plus"></i>
							</a>
						</div>
						<div class="cell-inner">
							<info-icon name="info-list-icons" />
						</div>
					</div>
				</th>
			</tr>
			
			@foreach (var hotel in @Model)
			{
				<tr>
					<td>@hotel.HotelCode</td>
					<td>@hotel.ChainCode</td>
					<td>@hotel.Name</td>
					<td style="width:80px;">
						<div class="cell-outer">
							<div class="cell-inner">
								@hotel.StayDates.Count
							</div>
							<div class="cell-inner">
								<a asp-controller="Hotels" asp-action="HotelStayEditDates" asp-route-hotelCode="@hotel.HotelCode">
									<i class="fa-solid fa-calendar"></i>
								</a>
							</div>
						</div>
					</td>
					<td style="width:80px;">
						<div class="cell-outer">
							<div class="cell-inner">
								@hotel.BookDates.Count
							</div>
							<div class="cell-inner">
								<a asp-controller="Hotels" asp-action="HotelBookEditDates" asp-route-hotelCode="@hotel.HotelCode">
									<i class="fa-solid fa-calendar"></i>
								</a>
							</div>
						</div>
					</td>
					<td style="width:80px;">
						
						<div class="cell-outer">
							<div class="cell-inner">
								<a asp-controller="Hotels" asp-action="HotelEdit" asp-route-hotelCode="@hotel.HotelCode">
									<i class="fa-solid fa-pen-to-square"></i>
								</a>
							</div>
							<div class="cell-inner">
								
								<a href="javascript:window.mshMethods.deleteHotel('@hotel.HotelCode')" >
									<i class="fa-solid fa-times"></i>
								</a>
							</div>
						</div>
					</td>
				</tr>
			}
			
		</table>

	</div>
</div>


@{
	await Html.RenderPartialAsync("Admin/_AdminErrorBlock", "");
}

<div id="page-info" style="display:none;">

	<div data-info-for="info-hotels">
		<span>Hotels List</span>
		<div>
			
			@await Html.PartialAsync("Hotels/_ListIconsInfo")
			<p>Additional icons used in some lists:</p>
			<ul>
				<li><i class="fa-solid fa-calendar"></i> - Edit the dates list associated with the record.</li>
			</ul>

		</div>
	</div>

	<div data-info-for="info-hotel-code">
		<span>@ViewBag.InfoIcons Hotel</span>
		<div>
			<p>Select a hotel to view @ViewBag.InfoIcons for that hotel</p>
		</div>
	</div>
</div>

@section Scripts{
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/mshapp/msh-ApiService.js"></script>
	<script src="~/js/admin/hotels/msh-admin-hotels.js"></script>
}



