@using Msh.Admin.Models.Const
@using Msh.WebApp.Models.Admin.ViewModels
@model Msh.WebApp.Models.Admin.ViewModels.RatePlanListVm;
@{
	var title = "Rate Plan List";
	ViewData["Title"] = title;
}

@await Component.InvokeAsync("AdminMenu", new
{
	menuName = AdminConst.MenuHotels, currentItem = "RatePlanList"
})

@await Html.PartialAsync("Hotels/_HiddenHotelInputs", @Model as HotelListVm)

<div class="text-center">
	<h1 class="display-6">@title</h1>
	<p>Hotel Rate Plans. Click for more information: <info-icon name="info-rate-plans" /></p>
</div>

@await Component.InvokeAsync("AdminHotelSelect", @Model.HotelCode)

<div class="row">
	<div class="col-12">
		<table>
			<tr>
				<th>
					<div class="cell-outer">
						<div class="cell-inner">
							<p>Code</p>
						</div>
						<div class="cell-inner">
							<a href="javascript:window.mshMethods.sortList('@Model.HotelCode')">
								<i class="fa-solid fa-sort"></i>
							</a>
						</div>
					</div>
				</th>
				<th>Group Code</th>
				<th>Description</th>
				<th>   
					<div class="cell-outer">
						<div class="cell-inner">
							<a asp-controller="Hotels" asp-action="RatePlanAdd" asp-route-hotelCode="@Model.HotelCode">
								<i class="fa-solid fa-plus"></i>
							</a>
						</div>
						<div class="cell-inner">
							<info-icon name="info-list-icons" />
						</div>
					</div>
				</th>
				<th>
					<div class="cell-outer">
						<div class="cell-inner">
							<input type="checkbox" name="bulk-check" id="blk" data-msh-code="0" />
						</div>
					</div>
				</th>
			</tr>
			
			@foreach (var rt in @Model.RatePlans)
			{
				<tr>
					<td>@rt.RatePlanCode</td>
					<td>@rt.Group</td>
					<td>@rt.Description</td>
					<td style="width:80px;">
						
						<div class="cell-outer">
							<div class="cell-inner">
								<a asp-controller="Hotels" asp-action="RatePlanEdit" asp-route-code="@rt.RatePlanCode" asp-route-hotelCode="@Model.HotelCode">
									<i class="fa-solid fa-pen-to-square"></i>
								</a>
							</div>
							<div class="cell-inner">
								<a href="javascript:window.mshMethods.deleteItem('@rt.RatePlanCode', '@Model.HotelCode')" >
									<i class="fa-solid fa-times"></i>
								</a>
							</div>
							<div class="cell-inner">
								<a href="javascript:window.mshMethods.copyItem('@rt.RatePlanCode', '@Model.HotelCode')">
									<i class="fa-solid fa-copy"></i>
								</a>
							</div>
						</div>
					</td>
					<td style="width:30px;">
						<div class="cell-outer">
							<div class="cell-inner">
								<input type="checkbox" name="bulk-check" id="blk-@rt.RatePlanCode" data-msh-code="@rt.RatePlanCode" />
							</div>
						</div>
					</td>
				</tr>
			}
		</table>
	</div>
</div>

@await Html.PartialAsync("Hotels/_BulkCopyDelButtons", @Model.HotelCode)

@await Html.PartialAsync("Admin/_AdminErrorBlock", @Model.ErrorMessage)

<div id="page-info" style="display:none;">
	
	

	<div data-info-for="info-rate-plans">
		<span>Rate Plans</span>
		<div>
			<p></p>
			@await Html.PartialAsync("Hotels/_ListIconsInfo")
		</div>
	</div>
</div>

@section Scripts{
	<script src="~/js/mshapp/msh-ApiService.js"></script>
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/mshapp/msh-itemdatesservice.js"></script>
	<script src="~/js/admin/hotels/msh-admin-rateplans.js"></script>
}



