@using Msh.Admin.Models.Const
@model Msh.WebApp.Models.Admin.ViewModels.RatePlanListVm;
@{
	var title = "Rate Plan List";
	ViewData["Title"] = title;
	ViewBag.InfoIcons = "Rate Plans";
}

@await Component.InvokeAsync("AdminMenu", new
{
	menuName = AdminConst.MenuHotels, currentItem = "RatePlanList"
})

<div class="text-center">
	<h1 class="display-6">@title</h1>
</div>

@await Component.InvokeAsync("AdminHotelSelect", @Model.HotelCode)

<div class="row">
	<div class="col-12">
		<table>
			<tr>
				<th>Rate Plan Code</th>
				<th>Group Code</th>
				<th>Description</th>
				<th>   
					<div class="cell-outer">
						<div class="cell-inner">
							<a asp-controller="Hotels" asp-action="RatePlanAdd" asp-route-hotelCode="@Model.HotelCode">
								<i class="fa-solid fa-plus"></i>
							</a>
						</div>
						<div class="cell-inner">
							<info-icon name="info-list-icons" />
						</div>
					</div>
				</th>
			</tr>
			
			@foreach (var rt in @Model.RatePlans)
			{
				<tr>
					<td>@rt.RatePlanCode</td>
					<td>@rt.Group</td>
					<td>@rt.Description</td>
					<td style="width:80px;">
						
						<div class="cell-outer">
							<div class="cell-inner">
								<a asp-controller="Hotels" asp-action="RatePlanEdit" asp-route-code="@rt.RatePlanCode" asp-route-hotelCode="@Model.HotelCode">
									<i class="fa-solid fa-pen-to-square"></i>
								</a>
							</div>
							<div class="cell-inner">
								<a href="javascript:window.mshMethods.deleteRatePlan('@rt.RatePlanCode', '@Model.HotelCode')" >
									<i class="fa-solid fa-times"></i>
								</a>
							</div>
						</div>
					</td>
				</tr>
			}
			
		</table>

	</div>
</div>

@await Html.PartialAsync("Admin/_AdminErrorBlock", @Model.ErrorMessage)

<div id="page-info" style="display:none;">
	
	@await Html.PartialAsync("Hotels/_ListIconsInfo", ViewBag.InfoIcons as string)

	<div data-info-for="info-hotel-code">
		<span>@ViewBag.InfoIcons </span>
		<div>
			<p>Select a hotel to view @ViewBag.InfoIcons for that hotel</p>
		</div>
	</div>
</div>

@section Scripts{
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/mshapp/msh-ApiService.js"></script>
	<script src="~/js/admin/hotels/msh-admin-rateplans.js"></script>
}



