@model Msh.WebApp.Models.Admin.ViewModels.HotelListVm
<!-- Select Hotel -->
<div class="row">
	<div class="col-4">
		<div class="form-group mb-3">
			<label for="selectHotel" class="control-label">Select Hotel</label>
			<select class="form-control" id="selectHotel">
				@foreach (var h in @Model.Hotels)
				{
					if (h.HotelCode == @Model.HotelCode)
					{
						<option value="@h.HotelCode" selected>@h.Name</option>
					}
					else
					{
						<option value="@h.HotelCode">@h.Name</option>
					}

				}
			</select>
			<input type="hidden" id="hotelCode" value="@Model.HotelCode" />
		</div>
	</div>
</div>
<!-- Select Hotel End -->