@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Msh.WebApp.Models.Admin
@using Msh.WebApp.TagHelpers
@model Msh.HotelCache.Models.Discounts.DiscountErrors;
@{
	var success = ViewBag.Success as SuccessAlert;
	var formAction = success?.FormAction ?? "DiscountErrorsEdit";
	var hotelCode = ViewBag.HotelCode;
	var itemCode = ViewBag.Code;
	var title = ViewData["Title"];
}

<div class="text-center">
	<h1 class="display-6">@title</h1>
	<p>Edit error messages for Discount @itemCode in hotel @hotelCode</p>
</div>

@await Html.PartialAsync("Admin/_AdminSaveSuccess", success)


<div class="row">
	<div class="col-6">


		<form asp-action="@formAction" asp-route-hotelCode="@hotelCode" asp-route-code="@itemCode" id="main-form">


			<div class="form-group mb-3">
				<label asp-for="InvalidCode" class="control-label"></label>&nbsp;
				<info-icon name="info-invalid-code" />
				<input asp-for="InvalidCode" class="form-control " />
				<span asp-validation-for="InvalidCode" class="text-danger"></span>
			</div>


			<div class="form-group mb-3">
				<label asp-for="RequiresCopyPasteCode" class="control-label"></label>&nbsp;
				<info-icon name="info-requires-copy-paste-code" />
				<input asp-for="RequiresCopyPasteCode" class="form-control " />
				<span asp-validation-for="RequiresCopyPasteCode" class="text-danger"></span>
			</div>


			<div class="form-group mb-3">
				<label asp-for="NotApplied" class="control-label"></label>&nbsp;
				<info-icon name="info-not-applied" />
				<input asp-for="NotApplied" class="form-control " />
				<span asp-validation-for="NotApplied" class="text-danger"></span>
			</div>


			<div class="form-group mb-3">
				<label asp-for="SearchError" class="control-label"></label>&nbsp;
				<info-icon name="info-search-error" />
				<input asp-for="SearchError" class="form-control " />
				<span asp-validation-for="SearchError" class="text-danger"></span>
			</div>


			<div class="form-group mb-3">
				<label asp-for="WrongHotel" class="control-label"></label>&nbsp;
				<info-icon name="info-wrong-hotel" />
				<input asp-for="WrongHotel" class="form-control " />
				<span asp-validation-for="WrongHotel" class="text-danger"></span>
			</div>


			<div class="form-group mb-3">
				<label asp-for="SelectHotel" class="control-label"></label>&nbsp;
				<info-icon name="info-select-hotel" />
				<input asp-for="SelectHotel" class="form-control " />
				<span asp-validation-for="SelectHotel" class="text-danger"></span>
			</div>


			<div class="form-group mb-3">
				<label asp-for="SelectAnyHotel" class="control-label"></label>&nbsp;
				<info-icon name="info-select-any-hotel" />
				<input asp-for="SelectAnyHotel" class="form-control " />
				<span asp-validation-for="SelectAnyHotel" class="text-danger"></span>
			</div>


			<div class="form-group mb-3">
				<label asp-for="SelectAnotherHotel" class="control-label"></label>&nbsp;
				<info-icon name="info-select-another-hotel" />
				<input asp-for="SelectAnotherHotel" class="form-control " />
				<span asp-validation-for="SelectAnotherHotel" class="text-danger"></span>
			</div>


			<div class="form-group mb-3">
				<label asp-for="NotAvailableDates" class="control-label"></label>&nbsp;
				<info-icon name="info-not-available-dates" />
				<input asp-for="NotAvailableDates" class="form-control " />
				<span asp-validation-for="NotAvailableDates" class="text-danger"></span>
			</div>


			<div class="form-group mb-3">
				<label asp-for="InvalidBookDates" class="control-label"></label>&nbsp;
				<info-icon name="info-invalid-book-dates" />
				<input asp-for="InvalidBookDates" class="form-control " />
				<span asp-validation-for="InvalidBookDates" class="text-danger"></span>
			</div>


			<div class="form-group mb-3">
				<label asp-for="InvalidRooms" class="control-label"></label>&nbsp;
				<info-icon name="info-invalid-rooms" />
				<input asp-for="InvalidRooms" class="form-control " />
				<span asp-validation-for="InvalidRooms" class="text-danger"></span>
			</div>


			<div class="form-group mb-3">
				<label asp-for="InvalidNights" class="control-label"></label>&nbsp;
				<info-icon name="info-invalid-nights" />
				<input asp-for="InvalidNights" class="form-control " />
				<span asp-validation-for="InvalidNights" class="text-danger"></span>
			</div>


			<div class="form-group mb-3">
				<label asp-for="DisabledByRatePlan" class="control-label"></label>&nbsp;
				<info-icon name="info-disabled-by-rate-plan" />
				<input asp-for="DisabledByRatePlan" class="form-control " />
				<span asp-validation-for="DisabledByRatePlan" class="text-danger"></span>
			</div>


			<div class="form-group mb-3">
				<label asp-for="EnterEmail" class="control-label"></label>&nbsp;
				<info-icon name="info-enter-email" />
				<input asp-for="EnterEmail" class="form-control " />
				<span asp-validation-for="EnterEmail" class="text-danger"></span>
			</div>


			<div class="form-group mb-3">
				<label asp-for="OneTimeInvalid" class="control-label"></label>&nbsp;
				<info-icon name="info-one-time-invalid" />
				<input asp-for="OneTimeInvalid" class="form-control " />
				<span asp-validation-for="OneTimeInvalid" class="text-danger"></span>
			</div>


			<div class="form-group mb-3">
				<label asp-for="OneTimeExpired" class="control-label"></label>&nbsp;
				<info-icon name="info-one-time-expired" />
				<input asp-for="OneTimeExpired" class="form-control " />
				<span asp-validation-for="OneTimeExpired" class="text-danger"></span>
			</div>


			<div class="form-group mb-3">
				<label asp-for="OneTimeUsed" class="control-label"></label>&nbsp;
				<info-icon name="info-one-time-used" />
				<input asp-for="OneTimeUsed" class="form-control " />
				<span asp-validation-for="OneTimeUsed" class="text-danger"></span>
			</div>


			<div class="form-group mb-3">
				<label asp-for="InvalidBooking" class="control-label"></label>&nbsp;
				<info-icon name="info-invalid-booking" />
				<input asp-for="InvalidBooking" class="form-control " />
				<span asp-validation-for="InvalidBooking" class="text-danger"></span>
			</div>


			<div class="form-group mb-3">
				<label asp-for="InvalidBookingStatus" class="control-label"></label>&nbsp;
				<info-icon name="info-invalid-booking-status" />
				<input asp-for="InvalidBookingStatus" class="form-control " />
				<span asp-validation-for="InvalidBookingStatus" class="text-danger"></span>
			</div>


			<div class="form-group mb-3">
				<label asp-for="RoomLimit" class="control-label"></label>&nbsp;
				<info-icon name="info-room-limit" />
				<input asp-for="RoomLimit" class="form-control " />
				<span asp-validation-for="RoomLimit" class="text-danger"></span>
			</div>


			<div class="form-group mb-3">
				<label asp-for="InvalidDepartDate" class="control-label"></label>&nbsp;
				<info-icon name="info-invalid-depart-date" />
				<input asp-for="InvalidDepartDate" class="form-control " />
				<span asp-validation-for="InvalidDepartDate" class="text-danger"></span>
			</div>

			<div class="input-group sticky-bottom">
				<button type="submit" name="Command" value="Save" class="btn btn-outline-primary">Save</button>
				<a asp-controller="Hotels" asp-action="DiscountsList" asp-route-hotelCode="@hotelCode" asp-route-code="@itemCode" class="btn btn-outline-secondary">Return to list</a>
			</div>

		</form>

	</div>
</div>


@await Html.PartialAsync("Hotels/_DiscountEditErrorsInfo", "Extra Edit")
