@model Msh.WebApp.Models.Admin.EditFormParam
@{
	// Depending on whether the form action is Add or Edit, present the primary key as an input or a label.
	// This prevents the primary key being changes during an edit.

	var name = Model.KeyPropertyName;
	var label = Model.KeyPropertyValue;
}

@if (Model.IsEdit)
{
	<label class="form-control">@label</label>
	<input type="hidden" id="@name" name="@name" value="@label" />
}
else
{
	<input class="form-control" value="" type="text" id="@name" name="@name">
	<span class="text-danger field-validation-valid" data-valmsg-for="@name" data-valmsg-replace="true"></span>
}