@model Msh.WebApp.Models.Admin.SuccessAlert
@{
	var name = Model.KeyPropertyName;
	var formAction = Model.FormAction;
	var isEdit = formAction.EndsWith("Edit");
}

@if (isEdit)
{
	<label class="form-control">@Model.KeyPropertyValue</label>
	<input type="hidden" id="@Model.KeyPropertyName" name="@Model.KeyPropertyName" value="@Model.KeyPropertyValue" />
}
else
{
	<input class="form-control" value="" type="text" id="@name" name="@name">
	<span class="text-danger field-validation-valid" data-valmsg-for="@name" data-valmsg-replace="true"></span>
}