@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Msh.WebApp.Models.Admin.ViewModels
@model Msh.WebApp.Models.Admin.ViewModels.ExtrasListVm
@{
	var rowIndex = 0;
	var count = Model.Extras.Count;
}
<table>
	<tr>
		<th>
			<div class="cell-outer">
				<div class="cell-inner">
					<p>Code</p>
				</div>
				<div class="cell-inner">
					<a href="javascript:window.mshMethods.sortList('@Model.HotelCode')">
						<i class="fa-solid fa-arrow-up"></i>
					</a>
				</div>
			</div>
		</th>
		<th>Enabled</th>
		<th class="text-end">Price</th>
		<th>Description</th>
		<th>Dates</th>
		<th class="text-center" style="width:40px;">Move</th>
		<th>
			<div class="cell-outer">
				<div class="cell-inner">
					<a asp-controller="Hotels" asp-action="ExtraAdd" asp-route-hotelCode="@Model.HotelCode">
						<i class="fa-solid fa-plus"></i>
					</a>
				</div>
			</div>
		</th>
		<th>
			<div class="cell-outer">
				<div class="cell-inner">
					Copy
				</div>
			</div>
		</th>
		<th>
			<div class="cell-outer">
				<div class="cell-inner">
					<input type="checkbox" name="bulk-check" id="blk" data-msh-code="0" />
				</div>
			</div>
		</th>
	</tr>

	@foreach (var item in @Model.Extras)
	{
		<tr>
			<td>@item.Code</td>
			@await Html.PartialAsync("Hotels/_TableCheckMarkCell", item.Enabled)
			<td class="text-end">@item.Price.ToString("C2")</td>
			<td>@item.Description</td>
			<td style="width:80px;">
				<div class="cell-outer">
					<div class="cell-inner">
						@item.ItemDates.Count
					</div>
					<div class="cell-inner">
						<a asp-controller="Hotels" asp-action="ExtraEditDates" asp-route-hotelCode="@Model.HotelCode" asp-route-code="@item.Code">
							<i class="fa-solid fa-calendar"></i>
						</a>
					</div>
				</div>
			</td>

			@{
				var vm = new TableCommonCellsVm
				{
					HotelCode = Model.HotelCode,
					Code = item.Code,
					Index = rowIndex,
					Count = count,
					EditAction = "ExtraEdit"
				};

			}
			@await Html.PartialAsync("Hotels/_TableCommonCells", vm)
		</tr>

		rowIndex++;
	}

</table>
