@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Msh.WebApp.Models.Admin.ViewModels
@model Msh.WebApp.Models.Admin.ViewModels.RatePlanListVm
@{
	var rowIndex = 0;
	var count = Model.RatePlans.Count;
}

<table>
	<tr>
		<th>
			<div class="cell-outer">
				<div class="cell-inner">
					<p>Code</p>
				</div>
				<div class="cell-inner">
					<a href="javascript:window.mshMethods.sortList('@Model.HotelCode')">
						<i class="fa-solid fa-arrow-up"></i>
					</a>
				</div>
			</div>
		</th>
		<th></th>
		<th>RPC</th>
		<th>Enabled</th>
		<th>Group Code</th>
		<th>Description</th>
		<th class="text-center" style="width:40px;">Move</th>
		<th>   
			<div class="cell-outer">
				<div class="cell-inner">
					<a asp-controller="Hotels" asp-action="RatePlanAdd" asp-route-hotelCode="@Model.HotelCode">
						<i class="fa-solid fa-plus"></i>
					</a>
				</div>
			</div>
		</th>
		<th>
			<div class="cell-outer">
				<div class="cell-inner">
					Copy
				</div>
			</div>
		</th>
		<th>
			<div class="cell-outer">
				<div class="cell-inner">
					<input type="checkbox" name="bulk-check" id="blk" data-msh-code="0" />
				</div>
			</div>
		</th>
	</tr>
			
	@foreach (var rt in @Model.RatePlans)
	{
		var stayUrl = $"javascript:window.mshMethods.ratePlanStayChange('{Model.HotelCode}', '{rt.Code}', '{rt.RatePlanCode}', '{rt.StayFrom:yyyy-MM-dd}', '{rt.StayTo:yyyy-MM-dd}')";

		<tr>
			<td style="width:200px;">
				@rt.Code
			</td>
			<td style="width:80px;">
				<div class="cell-outer">
					<div class="cell-inner">
						<a href="@stayUrl">
							<i class="fa-solid fa-calendar"></i>
						</a>
					</div>
				</div>
			</td>
			<td>@rt.RatePlanCode</td>
			@await Html.PartialAsync("Hotels/_TableCheckMarkCell", rt.Enabled)
			<td>@rt.Group</td>
			<td>@rt.Description</td>
			@{
				var vm = new TableCommonCellsVm
				{
					HotelCode = Model.HotelCode,
					Code = rt.Code,
					Index = rowIndex,
					Count = count,
					EditAction = "RatePlanEdit"
				};
			}
			@await Html.PartialAsync("Hotels/_TableCommonCells", vm)
		</tr>

		rowIndex++;
	}
</table>
