@using Msh.WebApp.Models.Admin.ViewModels
@model Msh.WebApp.Models.Admin.ViewModels.SpecialsListVm

@{
	var rowIndex = 0;
	var count = Model.Specials.Count;
	var controller = "Specials";
}
<table>
	<tr>
		<th>
			<div class="cell-outer">
				<div class="cell-inner">
					<p>Code</p>
				</div>
				<div class="cell-inner">
					<a href="javascript:window.mshMethods.sortList('@Model.HotelCode')">
						<i class="fa-solid fa-arrow-up"></i>
					</a>
				</div>
			</div>
		</th>
		<th class="text-center" style="width:50px;">Enabled</th>
		<th style="width:60px;">Type</th>
		<th>Text</th>
		<th>Options</th>
		<th>Dates</th>
		<th>Rm Types</th>
		<th>Rates</th>
		<th class="text-center" style="width:40px;">Move</th>
		<th>
			<div class="cell-outer">
				<div class="cell-inner">
					<a asp-controller="@controller" asp-action="SpecialAdd" asp-route-hotelCode="@Model.HotelCode">
						<i class="fa-solid fa-plus"></i>
					</a>
				</div>
			</div>
		</th>
		<th>
			<div class="cell-outer">
				<div class="cell-inner">
					Copy
				</div>
			</div>
		</th>
		<th>
			<div class="cell-outer">
				<div class="cell-inner">
					<input type="checkbox" name="bulk-check" id="blk" data-msh-code="0" />
				</div>
			</div>
		</th>
	</tr>

	@foreach (var rt in @Model.Specials)
	{
		var itemType = string.Format("{0}", rt.ItemType);
		<tr>
			<td>@rt.Code</td>
			@await Html.PartialAsync("Hotels/_TableCheckMarkCell", rt.Enabled)
			<td>@itemType</td>
			<td>@rt.Text</td>
			<td style="width:80px;">
				<div class="cell-outer">
					<div class="cell-inner">
						@rt.Options.Count
					</div>
					<div class="cell-inner">
						<a asp-controller="@controller" asp-action="SpecialEditOptions" asp-route-hotelCode="@Model.HotelCode" asp-route-code="@rt.Code">
							<i class="fa-solid fa-list"></i>
						</a>
					</div>
				</div>
			</td>
			<td style="width:80px;">
				<div class="cell-outer">
					<div class="cell-inner">
						@rt.ItemDates.Count
					</div>
					<div class="cell-inner">
						<a asp-controller="@controller" asp-action="SpecialEditDates" asp-route-hotelCode="@Model.HotelCode" asp-route-code="@rt.Code">
							<i class="fa-solid fa-calendar"></i>
						</a>
					</div>
				</div>
			</td>
			<td style="width:80px;">
				<div class="cell-outer">
					<div class="cell-inner">
						@rt.RoomTypeCodes.Count
					</div>
					<div class="cell-inner">
						<a asp-controller="@controller" asp-action="SpecialEditRoomTypes" asp-route-hotelCode="@Model.HotelCode" asp-route-code="@rt.Code">
							<i class="fab fa-windows"></i>
						</a>
					</div>
				</div>
			</td>
			<td style="width:80px;">
				<div class="cell-outer">
					<div class="cell-inner">
						@rt.RatePlanCodes.Count
					</div>
					<div class="cell-inner">
						<a asp-controller="@controller" asp-action="SpecialEditRatePlans" asp-route-hotelCode="@Model.HotelCode" asp-route-code="@rt.Code">
							<i class="fab fa-windows"></i>
						</a>
					</div>
				</div>
			</td>
			
			@{
				var vm = new TableCommonCellsVm
				{
					HotelCode = Model.HotelCode,
					Code = rt.Code,
					Index = rowIndex,
					Count = count,
					EditAction = "SpecialEdit",
					EditController = controller
				};
				
			}
			@await Html.PartialAsync("Hotels/_TableCommonCells", vm)

		</tr>
		rowIndex++;
	}


</table>
